<div
        class="offers"
        ng-init="$parent.$root.ui.back = 'capture';"
        ng-style="{height:'587px', display: 'flex', flexDirection:'column', justifyContent: 'space-between'}"
        >
    <div
            ng-repeat="plan in data.data.dataArr.$getRecord('plans') | limitTo:3"
            ng-style="{background:'rgba(255,254,254,.6)', margin:'1em 0', padding:'1em', border:0, borderRadius:'4px', display: 'flex', flexDirection:'column', justifyContent: 'space-between', flex:'1 1 33%'}"
            ng-if="
                $parent.api.models.usage.sms <= (plan.sms +100) &&
                $parent.api.models.usage.sms >= (plan.sms -100) &&
                $parent.api.models.usage.data <= (plan.data +500) &&
                $parent.api.models.usage.data >= (plan.data -500) &&
                $parent.api.models.usage.calls <= (plan.calls.max +50) &&
                $parent.api.models.usage.calls >= (plan.calls.min -50)
                ">
        <h4 ng-style="{flex: '0 1 33%', borderBottom:'2px solid rgba(0,0,0,.6)'}" ><b>{{plan.provider | uppercase}} |</b> {{plan.name}} - ${{plan.price}}</h4>
        <div ng-style="{display:'flex', justifyContent:'space-between', flex: '0 0 33%'}">
            <div ng-style="{width:'33%', display:'flex'}">
                <div ng-style="{alignSelf:'center', textAlign:'center', width:'100%'}">
                    <div ng-style="{fontSize:'1em', textAlign:'center'}">
                        <b>{{plan.data}}</b>
                    </div>
                    <div ng-style="{textAlign:'center'}">
                        MB Data
                    </div>
                </div>
            </div>
            <div ng-style="{width:'33%', display:'flex'}">
                <div ng-style="{alignSelf:'center', textAlign:'center', width:'100%'}">
                    <div ng-style="{fontSize:'1em', textAlign:'center'}">
                        <b>{{plan.calls.min}}-{{plan.calls.max}}</b>
                    </div>
                    <div ng-style="{textAlign:'center'}">
                        Calls
                    </div>
                </div>
            </div>
            <div ng-style="{width:'33%', display:'flex'}">
                <div ng-style="{alignSelf:'center', textAlign:'center', width:'100%'}">
                    <div ng-style="{fontSize:'1em', textAlign:'center'}"><b>{{plan.sms}}</b></div>
                    <div ng-style="{textAlign:'center'}">
                        Messages
                    </div>
                </div>
            </div>
        </div>
        <a
                target="_blank"
                ng-href="{{plan.url}}"
                ng-click="$root.ui.slide = 'slide-right';"
                ng-style="{
                flex: '0 0 33%',
                width:'100%',
                background:'rgba(233, 34, 36, 1)',
                borderRadius:'4px',
                border:0,
                fontSize:'1em',
                fontWeight: 'bold',
                textDecoration:'none',
                color: 'rgba(254, 254, 255, .95)',
                padding: '.5em',
                display:'flex',
                flexDirection:'vertical',
                textAlign:'center'}">
            <span ng-style="{width:'100%', alignSelf:'center', textAlign:'center'}">View Plan</span>
        </a>
    </div>
</div>