<div
        class="offers"
        ng-init="$parent.$root.ui.back = 'capture'; filteredPlans = api.methods.filterPlans(api.models.usage, data.data.dataObj.plans);"
        ng-style="{height:'468px', width:'266px', display: 'flex', flexDirection:'column', justifyContent: 'space-around'}"
        >
    <div
            ng-repeat="plan in api.methods.filterPlans(api.models.usage, data.data.dataObj.plans) | limitTo:3"
            ng-style="{background:'rgba(255,254,254,.6)', margin:'1em 0', padding:'1em', border:0, borderRadius:'4px', display: 'flex', flexDirection:'column', justifyContent: 'space-between', flex:'0 1 33%'}">
        <i ng-style="{flex: '0 1 33%', borderBottom:'2px solid rgba(0,0,0,.6)', display:'flex', justifyContent:'space-between'}" >
            <i>{{plan.provider | uppercase}}: </i>
            <a ng-style="{color:'rgba(0,0,0,.8)'}" target="_blank" ng-href="{{plan.url}}"><b>{{plan.name | uppercase}}</b></a>
        </i>
        <div ng-style="{display:'flex', justifyContent:'space-between', flex: '1 1 33%'}">
            <div ng-style="{width:'33%', display:'flex', padding:'4px'}">
                <div ng-style="{alignSelf:'center', textAlign:'center', width:'100%'}">
                    <div ng-style="{fontSize:'1em', textAlign:'center'}">
                        <b>{{plan.data}}</b>
                    </div>
                    <div ng-style="{textAlign:'center'}">
                        MB Data
                    </div>
                </div>
            </div>
            <div ng-style="{width:'33%', display:'flex', padding:'4px'}">
                <div ng-style="{alignSelf:'center', textAlign:'center', width:'100%'}">
                    <div ng-style="{fontSize:'1em', textAlign:'center'}">
                        <b>{{plan.calls.min}}-{{plan.calls.max}}</b>
                    </div>
                    <div ng-style="{textAlign:'center'}">
                        Calls
                    </div>
                </div>
            </div>
            <div ng-style="{width:'33%', display:'flex', padding:'4px'}">
                <div ng-style="{alignSelf:'center', textAlign:'center', width:'100%'}">
                    <div ng-style="{fontSize:'1em', textAlign:'center'}"><b>{{plan.sms}}</b></div>
                    <div ng-style="{textAlign:'center'}">
                        Messages
                    </div>
                </div>
            </div>
        </div>
        <a
                target="_blank"
                ng-href="{{plan.url}}"
                ng-click="$root.ui.slide = 'slide-right';"
                ng-style="{
                flex: '1 0 33%',
                width:'100%',
                background:'rgba(233, 34, 36, 1)',
                borderRadius:'4px',
                border:0,
                fontSize:'1em',
                fontWeight: 'bold',
                textDecoration:'none',
                color: 'rgba(254, 254, 255, .95)',
                padding: '.5em',
                display:'flex',
                flexDirection:'vertical',
                textAlign:'center'}">
            <span ng-style="{width:'100%', alignSelf:'center', textAlign:'center'}">$ {{plan.price}} - View Plan</span>
        </a>
    </div>
</div>
<div ng-if="!$root.admin && api.methods.filterPlans(api.models.usage, data.data.dataObj.plans).length >= 1" ng-style="{position:'absolute', left:'354px', top:'54px', width:'354px'}">
    <h1><div ng-repeat="text in data.data.dataObj.texts" ng-show="text.type === 'offers'"  style="color: black">{{text.text}}</div></h1>
</div>
<div ng-if="!$root.admin && api.methods.filterPlans(api.models.usage, data.data.dataObj.plans).length === 0" ng-style="{position:'absolute', left:'354px', top:'54px', width:'354px', padding:'4px'}">
    <h1  style="color: black">No matching plans. Please adjust your <a href style="color: darkblue" ng-click="$root.ui.show = 'usage'">usage criteria</a>.</h1>
</div>
<div ng-init="email = {to:api.models.capture.email, text:filteredPlans, capture:api.models.capture, usage: api.models.usage}; emailSales = {to:api.models.capture.email, text:filteredPlans, capture:api.models.capture, usage: api.models.usage}; api.methods.email(email); api.methods.emailSales(emailSales);"></div>