<div class="offers" ng-init="$parent.$root.ui.back = 'capture';">
    <div 
            ng-repeat="plan in data.data.dataArr.$getRecord('plans') | limitTo:3"
            ng-style="{background:'rgba(255,255,255,.4)', margin:'1em 0', padding:'1em', border:0, borderRadius:'1em'}"
            ng-if="
                $parent.api.models.usage.sms <= (plan.sms +100) &&
                $parent.api.models.usage.sms >= (plan.sms -100) &&
                $parent.api.models.usage.data <= (plan.data +500) &&
                $parent.api.models.usage.data >= (plan.data -500) &&
                $parent.api.models.usage.calls <= (plan.calls.max +50) &&
                $parent.api.models.usage.calls >= (plan.calls.min -50)
                ">
        <div><h2>{{plan.name}} - ${{plan.price}}</h2></div>
        <b>{{plan.provider | uppercase}} </b>
        <span>Calls: {{plan.calls.min}}-{{plan.calls.max}}</span>
        <div ng-style="{display:'flex'}">
            <div ng-style="{float:'left', width:'33%', display:'flex', flexDirection:'vertical'}">
                <div ng-style="{alignSelf:'center'}">
                    <div ng-style="{fontSize:'2em', textAlign:'center'}">
                        {{plan.data}}
                    </div>
                <div ng-style="{textAlign:'center'}">
                    MB Data
                </div>
            </div>
        </div>
        <div ng-style="{float:'left', width:'33%', display:'flex', flexDirection:'vertical'}">
            <div ng-style="{alignSelf:'center'}"><div ng-style="{fontSize:'2em', textAlign:'center'}">{{plan.sms}}</div>
            <div ng-style="{textAlign:'center'}">
                Messages
            </div></div>
        </div>
        <a
                target="_blank"
                ng-href="{{plan.url}}"
                ng-click="$root.ui.slide = 'slide-right';"
                ng-style="{
                width:'50%',
                height:'80px',
                background:'rgba(255,255,255,.9)',
                borderRadius:'.5em',
                border:0,
                fontSize:'1.7em',
                textDecoration:'none',
                color: '#00d1ff',
                padding: '.5em',
                display:'flex',
                flexDirection:'vertical',
                textAlign:'center'}"><span ng-style="{alignSelf:'center', textAlign:'center'}">View Plan</span></a>
        </div>
    </div>
</div>