
<form

        name="captureForm"
        class="capture"
        ng-style="{display: 'flex', flexDirection:'column', justifyContent: 'space-between', height:'466px', width:'266px'}"
        ng-init="$root.ui.show = 'capture'; $root.ui.back = 'usage'"
        ng-submit="$root.ui.slide = 'slide-right'; $root.ui.show = 'offers'; data.methods.create('leads', api.models);">
    <div ng-style="{display: 'flex', flexDirection:'column', height:'406px', justifyContent:'space-around'}">

        <div ng-style="{display: 'flex', flexDirection:'column', justifyContent: 'space-around', flex:'0 1 auto'}">
            <label ng-style="{flex:'0 0 33%'}" for="name">
                <input type="text" placeholder="Name" id="name" ng-model="api.models.capture.name"/></label>
            <label ng-style="{flex:'0 0 33%'}" for="email">
                <input type="email" placeholder="Email" id="email" ng-model="api.models.capture.email"/></label>
            <label ng-style="{flex:'0 0 33%'}" for="tel">
                <input type="tel" placeholder="Tel" id="tel" ng-model="api.models.capture.tel"/></label>
        </div>
        <div ng-style="{display: 'flex', flexDirection:'column', justifyContent: 'space-between', flex:'0 1 auto'}">
            <div ng-style="{flex:'0 1 auto'}">
                <div ng-style="{position:'absolute', padding:'4px', background:'rgba(0,0,0,.9)', width:'271px', top:'81px', bottom:'48px', display:'flex', flexDirection:'column', justifyContent:'center'}" ng-show="showProviders" class="slide-left animate-show">
                    <h2>Select your current provider</h2>
                    <button
                            ng-style="{width:'100%', height:'40px', fontSize:'1.2em', margin:'1px 0'}"
                            ng-click="api.models.capture.provider = provider; $parent.showProviders = false; "
                            ng-repeat="provider in data.data.dataArr.$getRecord('providers')"
                            type="button">
                        {{provider}}
                    </button>
                </div>
                <button ng-click="showProviders = !showProviders" type="button" ng-style="{width:'100%', padding:'4px', height:'45px', fontSize:'1em', background:showProviders ? 'rgba(102, 135, 187, 1)' : null}">Current Provider <b>{{api.models.capture.provider}}</b></button>

            </div>

            <div ng-style="{flex:'0 1 auto', display:'flex', justifyContent:'space-around', margin:'4px 0', width:'100%'}">
                    <label ng-click="api.models.capture.customerType = 'business'" for="business" ng-style="{background:api.models.capture.customerType === 'business'?'rgba(68, 102, 173, .8)':'rgba(255,255,255,.4)', padding:'4px', borderRadius:'4px', flex:'1 0 30%', margin:'0 2px', textAlign:'center'}">
                        <a>Business</a>
                    </label>
                    <label  ng-click="api.models.capture.customerType = 'consumer'" for="consumer" ng-style="{background:api.models.capture.customerType === 'consumer'?'rgba(68, 102, 173, .8)':'rgba(255,255,255,.4)', padding:'4px', borderRadius:'4px', flex:'1 0 30%', margin:'0 2px', textAlign:'center'}">
                        <a>Consumer</a>
                    </label>
                    <label ng-click="api.models.capture.contract = !api.models.capture.contract"  for="contract" ng-style="{background:api.models.capture.contract ?'rgba(68, 102, 173, .8)':'rgba(255,255,255,.4)', padding:'4px', borderRadius:'4px', flex:'1 0 30%', margin:'0 2px', textAlign:'center'}">
                        <a>Contract?</a>
                    </label>
            </div>
            <label class="slide-left animate-show" ng-style="{flex:'0 1 auto'}" for="spending" ng-show="api.models.capture.customerType === 'business'">
                <h3>Monthly Spending: <b>{{api.models.capture.spending | currency:undefined:-2}}</b></h3>
                <div ng-style="api.style.flex.parent">
                    <i ng-style="{flex: '1 0 auto'}" ng-click="api.models.capture.spending=1000">$1K</i>
                    <i ng-style="{flex: '1 0 auto', textAlign:'right'}" ng-click="api.models.capture.spending=4000">$4K+</i>
                </div>
                <input
                        type="range"
                        id="spending"
                        ng-model="api.models.capture.spending"
                        min="1000"
                        max="4000"
                        step=".1"
                        ng-init="rangePercent.spending=(( (api.models.capture.spending  - rangeMin.spending) / (rangeMax.spending  - rangeMin.spending)  )*100 || 50); rangeMin.spending=1000; rangeMax.spending=4000"
                        ng-style="api.style.rangeTrack(rangePercent.spending)"
                        ng-change="rangePercent.spending = ( (api.models.capture.spending  - rangeMin.spending) / (rangeMax.spending  - rangeMin.spending)  )*100"
                        />
            </label>
            <div ng-style="{flex:'0 1 auto', display: 'flex', flexDirection:'column', justifyContent: 'space-around'}">
                <div ng-show="api.models.capture.contract === true" class="slide-left animate-show">

                    <p>When is your contract up?</p>
                    <div ng-style="{width:'48%', marginRight: '4%', float:'left'}">
                            <input
                                    id="month"
                                    type="number"
                                    min="1"
                                    max="12"
                                    ng-model="api.models.capture.contractExpire.month"
                                    placeholder="Month"/>
                    </div>
                    <div ng-style="{width:'48%', float:'left'}">
                            <input
                                    id="year"
                                    type="number"
                                    min="{{ api.methods.getDate() | date:'yyyy'}}"
                                    max="{{ api.methods.getDate() + 200000000000 | date:'yyyy'}}"
                                    ng-model="api.models.capture.contractExpire.year"
                                    placeholder="Year"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button
        ng-style="{
            width:'100%',
            height:'80px',
            background:'rgba(255,255,255,.4)',
            borderRadius:'4px',
            border:0,
            fontSize:'3em'
            }"
            type="submit"
            ng-disabled="!api.models.capture.name || !api.models.capture.email || !api.models.capture.tel">See Plans</button>
</form>

<div ng-if="!$root.admin" ng-style="{position:'absolute', left:'354px', top:'54px', width:'354px'}">
    <h1><div ng-repeat="text in data.data.dataObj.texts" ng-show="text.type === 'capture'"  style="color: black">{{text.text}}</div></h1>
</div>