* {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial !important;
}
html {
  background: rgba(39, 97, 147, 1);
  margin: 0;
}
body {
  margin:0;
  padding: 1em;
}

.iphone{
  width: 100%;
}

input[type=text], input[type=email], input[type=tel], input[type=range], input[type=number], input[type=color], select {
  width:100%;
  height: 40px;
  font-size: 1.2em;
  background: rgba(255,255,255,.6);
  margin: .25em 0;
}

select, option, input[type=color]  {border:0;}

hr {
  color:rgba(0,0,0,0.2)
}
h1, h2, h3 {
  margin:.5em 0;
}
h4, h5 {
  margin: .25em 0;
}

::-webkit-scrollbar, ::-webkit-scrollbar-button, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner, ::-webkit-resizer {color: rgba(0,0,0,0);
  background:  rgba(0,0,0,0);}

button {
  color:#00D1FF;
}
button:disabled {
  color:rgba(0,0,0,.4);
}


/* another way to animate*/

.animate-show {
  opacity: 1;
  background: inherit;
  -ms-transition: 1.25s ease-in-out;
  -webkit-transition: 1.25s ease-in-out;
  transition:  1.25s ease-in-out;
  transition-delay: 1s
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: linear 0.3s;
}

.animate-show.ng-hide {
  line-height: 0;
  // opacity: 0;
  // padding: 0 10px;
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.slide-right.animate-show.ng-hide {
  line-height: 0;
  // opacity: 0;
  // padding: 0 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-left.animate-show.ng-hide {
  line-height: 0;
  // opacity: 0;
  // padding: 0 10px;
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

/*
.check-element {
  /!*padding: 10px;
  border: 1px solid black;
  background: white;*!/
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  -ms-transition: 1.25s ease-in-out;
  -webkit-transition: 1.25s ease-in-out;
  transition:  1.25s ease-in-out;
}*/
