.iphone{
  width: 100%;
}

input[type=text], input[type=email], input[type=tel], input[type=range], select {
  width:100%;
  min-height: 45px;
  font-size: 1.2em;
}

hr {
  color:rgba(0,0,0,0.2)
}

h4, h5 {
  margin: 0;
}