* {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial !important;
  color: rgba(255,255,255,.9);
}
html {
  background: rgba(39, 97, 147, 1);
  margin: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4974b9+0,9cb1d3+50,618eca+51,ebdad5+100 */
  background: #4974b9; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNDk3NGI5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOWNiMWQzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjNjE4ZWNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZGFkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg,  #4974b9 0%, #9cb1d3 50%, #618eca 51%, #ebdad5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4974b9), color-stop(50%,#9cb1d3), color-stop(51%,#618eca), color-stop(100%,#ebdad5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #4974b9 0%,#9cb1d3 50%,#618eca 51%,#ebdad5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #4974b9 0%,#9cb1d3 50%,#618eca 51%,#ebdad5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #4974b9 0%,#9cb1d3 50%,#618eca 51%,#ebdad5 100%); /* IE10+ */
  background: linear-gradient(45deg,  #4974b9 0%,#9cb1d3 50%,#618eca 51%,#ebdad5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4974b9', endColorstr='#ebdad5',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}
body {
  margin:0;
  padding: 1em;
}

.iphone{
  width: 100%;
}

input[type=text], input[type=email], input[type=tel], input[type=number], input[type=color], select {
  width:100%;
  height: 40px;
  font-size: 1.2em;
  background: rgba(255,255,255,.3);
  margin: .25em 0;
  border: 0;
  padding: 4px;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,.5);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(0,0,0,.5);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,.5);
}

select, option, input[type=color]  {border:0;}

hr {
  color:rgba(0,0,0,0.2)
}
h1, h2, h3 {
  margin:.5em 0;
  font-weight: 500;
}
h4, h5 {
  margin: 0;
}

i {
  font-weight: 500;
}

::-webkit-scrollbar, ::-webkit-scrollbar-button, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner, ::-webkit-resizer {color: rgba(0,0,0,0);
  background:  rgba(0,0,0,0);}

button {
  color:rgba(255,255,255,.9);
  background: rgba(255,255,255,.4);
  border:0;
  font-weight: 500;
  border-radius: 4px;
}
button:disabled {
  color:rgba(0,0,0,.12);
  background: rgba(255,255,255,.01)!important;
}

/* another way to animate*/

.animate-show {
  opacity: 1;
  background: inherit;
  -ms-transition: 1.25s ease-in-out;
  -webkit-transition: 1.25s ease-in-out;
  transition:  1.25s ease-in-out;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: linear 0.2s;
}

/*.animate-show.ng-hide {
  line-height: 0;
  // opacity: 0;
  // padding: 0 10px;
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}*/

.slide-right.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  // padding: 0 10px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-left.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  // padding: 0 10px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/*
.check-element {
  /!*padding: 10px;
  border: 1px solid black;
  background: white;*!/
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  -ms-transition: 1.25s ease-in-out;
  -webkit-transition: 1.25s ease-in-out;
  transition:  1.25s ease-in-out;
}*/

// Range Input

/*
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 1px #0d0d0d;
    border: 5px solid #bbb;
    height: 41px;
    width: 41px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;

    */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: rgba(0,0,0,.4);
  height:12px;

}

/*
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
*/

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0,0,0,.4);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0;
  background: rgba(255,255,255,.1);
  border-radius: 3px;
  border: 2px solid rgba(255,255,255,.6);

}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0;
  background: rgba(255,255,255,.1);
  border-radius: 3px;
  border: 2px solid;

}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0;
  background: rgba(255,255,255,.1);
  border-radius: 3px;
  border: 2px solid;

  border-color: transparent;
  border-width: 16px 0;
  margin: 1px 0;
}


input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 1px #0d0d0d;
  border: 5px solid #bbb;
  height: 41px;
  width: 41px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 1px #0d0d0d;
  border: 5px solid #bbb;
  height: 41px;
  width: 41px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 1px #0d0d0d;
  border: 5px solid #bbb;
  height: 41px;
  width: 41px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
}


input[type=range]:focus {
  outline: none;
}
input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}