<div
        class="iphone"
        id="iphone"
        ng-style="{maxWidth:'432px', minHeight:'881px', float:'left', background:'url(\'images/iphone.png\')'}"
        ng-init="$root.ui.back=null; $root.ui.show='usage'; ">
    <div
            ng-style="{margin:'27.2% 11%', height:'635px', overflow:'scroll'}"
            ng-init="$root.ui.show = 'usage';">
        <button
                id="back"
                ng-click="$root.ui.show=$root.ui.back"
                ng-show="$root.ui.back"
                ng-style="{background:'rgba(255,255,255,.9)', borderRadius:'.5em', border:0, fontSize:'1.2em', marginTop:'.5em'}" >Back</button>
        <usage ng-if="$root.ui.show === 'usage'"></usage>
        <capture ng-if="$root.ui.show === 'capture'"></capture>
        <offers ng-if="$root.ui.show === 'offers'"></offers>
    </div>
</div>
<div ng-show="!$root.debug" ng-click="$root.debug =! $root.debug">+ Admin</div>
<div ng-show="$root.debug" ng-click="$root.debug =! $root.debug">- Admin</div>
<span ng-style="{margin:'1em', float:'left'}" ng-if="$root.debug">
    <admin></admin>
</span>
