<div class="iphone" ng-style="{maxWidth:'480px', float:'left'}" ng-init="$root.ui.show='usage'; $root.ui.back=null">
    <h1 ng-click="$root.debug =! $root.debug">iphone</h1>
    <button ng-click="$root.ui.show=$root.ui.back" ng-show="$root.ui.back">Back</button>
    <usage ng-if="$root.ui.show === 'usage'"></usage>
    <capture ng-if="$root.ui.show === 'capture'"></capture>
    <offers ng-if="$root.ui.show === 'offers'"></offers>
</div>
<div ng-style="{margin:'1em', maxWidth:'200px', float:'left'}" ng-if="$root.debug">

    <h3>Admin</h3>
    <admin></admin>

</div>
