<form
        name="usageForm"
        class="usage animate-show"
        ng-init="$root.ui.back = null; $root.ui.show = 'usage';"
        ng-submit="$root.ui.slide = 'slide-right'; $root.ui.show = 'capture';"
        ng-style="{display: 'flex', flexDirection: 'column', justifyContent: 'space-between', height:'496px', width:'266px'}">
    <div ng-style="{textAlign:'center', flex: '0 0 436px', display:'flex', flexDirection:'column', justifyContent:'space-around'}">
        <label ng-style="{flex:'0 0 20%'}" for="dataRange">
            <h2>Data: <b>{{api.models.usage.data | number : -3}}<span ng-show="api.models.usage.data">MB</span></b></h2>

            <div ng-style="{}">
                <i ng-style="{flex: '0 1 20px', float:'left'}">&frac12;GB</i>
                <i ng-style="{flex: '0 1 20px', float:'right'}">5GB+</i>
                <input
                        ng-init="rangePercent.data=(( (api.models.usage.data  - rangeMin.data) / (rangeMax.data  - rangeMin.data)  )*100 || 50); rangeMin.data=500; rangeMax.data=5000"
                        type="range"
                        id="dataRange"
                        ng-model="api.models.usage.data"
                        min="500"
                        max="5000"
                        step=".1"
                        ng-change="rangePercent.data = ( (api.models.usage.data  - rangeMin.data) / (rangeMax.data  - rangeMin.data)  )*100"
                        ng-style="api.style.rangeTrack(rangePercent.data);">
            </div>
        </label>
        <label ng-style="{flex:'0 0 20%'}" for="calls">
            <h2>Calls: <b>{{api.models.usage.calls | number : -2}}</b></h2>
            <div ng-style="{}">
                <i ng-style="{flex: '0 1 20px', float:'left'}">50</i>
                <i ng-style="{flex: '0 1 20px', float: 'right'}">550+</i>
                <input
                        type="range"
                        id="calls"
                        ng-model="api.models.usage.calls"
                        min="50"
                        max="550"
                        step=".1"

                        ng-init="rangePercent.calls=(( (api.models.usage.calls  - rangeMin.calls) / (rangeMax.calls  - rangeMin.calls)  )*100 || 50); rangeMin.calls=50; rangeMax.calls=550"
                        ng-change="rangePercent.calls = ( (api.models.usage.calls  - rangeMin.calls) / (rangeMax.calls  - rangeMin.calls)  )*100"
                        ng-style="api.style.rangeTrack(rangePercent.calls)"
                        />
            </div>
        </label>
        <label ng-style="{flex:'0 0 20%'}" for="sms">
            <h2>Messages: <b>{{api.models.usage.sms | number : -2}}</b></h2>
            <div ng-style="{}">
                <i ng-style="{flex: '0 1 20px', float:'left'}">50</i>
                <i ng-style="{flex: '0 1 20px', float:'right'}">2000+</i></div>
                <input
                        ng-init="rangePercent.sms=(( (api.models.usage.sms  - rangeMin.sms) / (rangeMax.sms  - rangeMin.sms)  )*100 || 50); rangeMin.sms=50; rangeMax.sms=2000"
                        type="range"
                        id="sms"
                        ng-model="api.models.usage.sms"
                        min="50"
                        max="2000"
                        step="1"
                        ng-change="rangePercent.sms = ( (api.models.usage.sms  - rangeMin.sms) / (rangeMax.sms  - rangeMin.sms)  )*100"
                        ng-style="api.style.rangeTrack(rangePercent.sms)">
        </label>
        <label ng-style="{flex:'0 0 20%', display:'flex', flexDirection:'column', justifyContent: 'space-around'}" for="happy">
            <h4>How do you feel about your current service?</h4>
            <p ng-style="{width:'100%', display:'flex'}">
                <i ng-style="{flex: '1 1 auto', textAlign:'center'}" ng-click="api.models.capture.happy=0">Unhappy</i>
                <i ng-style="{flex: '1 1 auto', textAlign:'center'}" ng-click="api.models.capture.happy=100">Happy</i>
            </p>
            <input
                    type="range" id="happy"
                    ng-model="api.models.usage.happy"
                    ng-init="rangePercent.happy=(( (api.models.usage.happy  - rangeMin.happy) / (rangeMax.happy  - rangeMin.happy)  )*100 || 50); rangeMin.happy=0; rangeMax.happy=100"
                    ng-style="api.style.rangeTrack(rangePercent.happy)"
                    ng-change="rangePercent.happy = ( (api.models.usage.happy  - rangeMin.happy) / (rangeMax.happy  - rangeMin.happy)  )*100"
                    />
        </label>
    </div>
    <button
            ng-style="{
            width:'100%',
            height:'80px',
            background:'rgba(255,255,255,.4)',
            borderRadius:'4px',
            border:0,
            fontSize:'3em'
            }"
            type="submit"
            ng-disabled="!api.models.usage.sms || !api.models.usage.calls || !api.models.usage.data">Next</button>
</form>
