<div class="admin">
    <h2 ng-show="!$root.ui.admin.providers" ng-click="$root.ui.admin.providers =! $root.ui.admin.providers ;">+
        Providers</h2>

    <h2 ng-show="$root.ui.admin.providers" ng-click="$root.ui.admin.providers =! $root.ui.admin.providers ;">-
        Providers</h2>

    <div ng-show="$root.ui.admin.providers">
        <h3 ng-show="!$root.ui.admin.addProviders"
            ng-click="$root.ui.admin.addProviders =! $root.ui.admin.addProviders">+ Add Provider</h3>

        <h3 ng-show="$root.ui.admin.addProviders" ng-click="$root.ui.admin.addProviders =! $root.ui.admin.addProviders">
            - Add Provider</h3>

        <form ng-show="$root.ui.admin.addProviders" name="newProvider" ng-init="provider = {}"
              ng-submit="data.methods.create('providers', provider.name); provider = {}">
            <label for="newProvider">
                <input type="text" ng-model="provider.name" id="newProvider"/>
            </label>
            <button type="submit">Add Provider</button>
        </form>

        <h3 ng-show="!$root.ui.admin.editProviders"
            ng-click="$root.ui.admin.editProviders =! $root.ui.admin.editProviders">+ Edit Providers</h3>

        <h3 ng-show="$root.ui.admin.editProviders"
            ng-click="$root.ui.admin.editProviders =! $root.ui.admin.editProviders">- Edit Providers</h3>

        <div ng-show="$root.ui.admin.editProviders">
            <div ng-repeat="(key,provider) in data.data.dataArr.$getRecord('providers')">
                <input type="text" ng-model="provider" ng-change="data.methods.save('providers', key, provider)"/>
                <a ng-click="showRemove = !showRemove" ng-show="!showRemove">Remove</a>
                <button ng-show="showRemove" ng-click="data.methods.remove('providers', key)">Remove</button>
                <a ng-show="showRemove" ng-click="showRemove = !showRemove">Cancel</a>
            </div>
        </div>
    </div>

    <h2 ng-show="!$root.ui.admin.plans" ng-click="$root.ui.admin.plans =! $root.ui.admin.plans ;">+ Plans</h2>

    <h2 ng-show="$root.ui.admin.plans" ng-click="$root.ui.admin.plans =! $root.ui.admin.plans ;">- Plans</h2>

    <div ng-show="$root.ui.admin.plans">
        <h3 ng-show="!$root.ui.admin.addPlan" ng-click="$root.ui.admin.addPlan = !$root.ui.admin.addPlan">+ Add
            Plan</h3>

        <h3 ng-show="$root.ui.admin.addPlan" ng-click="$root.ui.admin.addPlan = !$root.ui.admin.addPlan">- Add Plan</h3>

        <form ng-show="$root.ui.admin.addPlan" name="newPlan" ng-init="plan = {}"
              ng-submit="data.methods.create('plans', plan); plan = {}">
            <label for="provider">Provider
                <select name="provider" id="provider" ng-model="plan.provider">
                    <option ng-repeat="provider in data.data.dataArr.$getRecord('providers')" value="{{provider}}">
                        {{provider}}
                    </option>
                </select>
            </label>
            <hr/>
            <label for="name">Name
                <input id="name" type="text" ng-model="plan.name"/>
            </label>
            <hr/>
            <label for="price">Price
                <input id="price" type="text" ng-model="plan.price"/>
            </label>
            <hr/>
            <label for="data">Data
                <input id="data" type="number" ng-model="plan.data"/>MB
            </label>
            <hr/>
            <label for="minCalls">Min Calls
                <input id="minCalls" type="number" ng-model="plan.calls.min"/>
            </label>
            <hr/>
            <label for="maxCalls">Max Calls
                <input id="maxCalls" type="number" ng-model="plan.calls.max"/>
            </label>
            <hr/>
            <label for="sms">Messages
                <input id="sms" type="number" ng-model="plan.sms"/>
            </label>
            <hr/>
            <label for="url">Link
                <input id="url" type="text" ng-model="plan.url"/>
            </label>
            <button type="submit">Add Plan</button>
        </form>

        <h3 ng-show="!$root.ui.admin.editPlan" ng-click="$root.ui.admin.editPlan = !$root.ui.admin.editPlan">+ Edit
            Plans</h3>

        <h3 ng-show="$root.ui.admin.editPlan" ng-click="$root.ui.admin.editPlan = !$root.ui.admin.editPlan">- Edit
            Plans</h3>

        <div ng-show="$root.ui.admin.editPlan">
            <div ng-repeat="(key, plan) in data.data.dataArr.$getRecord('plans')">
                <p ng-show="!showPlan" ng-click="showPlan = !showPlan">
                    + {{plan.provider}} / {{plan.name}}
                </p>

                <p ng-show="showPlan" ng-click="showPlan = !showPlan">
                    - {{plan.provider}} / {{plan.name}}
                </p>

                <form ng-show="showPlan" name="plan{{key}}" ng-submit="data.methods.save('plans', key, plan)">
                    <label for="plan{{key}}-provider">Provider
                        <select name="planProvider" id="plan{{key}}-provider" ng-model="plan.provider">
                            <option ng-repeat="provider in data.data.dataArr.$getRecord('providers')"
                                    value="{{provider}}">
                                {{provider}}
                            </option>
                        </select>
                    </label>
                    <label for="plan{{key}}-name">Name
                        <input type="text" ng-model="plan.name" id="plan{{key}}-name"/>
                    </label>
                    <hr/>
                    <label for="plan{{key}}-price">Price
                        <input type="text" ng-model="plan.price" id="plan{{key}}-price"/>
                    </label>
                    <hr/>
                    <label for="plan{{key}}-data">Data
                        <input id="plan{{key}}-data" type="number" ng-model="plan.data"/>MB
                    </label>
                    <hr/>
                    <label for="plan{{key}}-minCalls">Min Calls
                        <input id="plan{{key}}-minCalls" type="number" ng-model="plan.calls.min"/>
                    </label>
                    <hr/>
                    <label for="plan{{key}}-maxCalls">Max Calls
                        <input id="plan{{key}}-maxCalls" type="number" ng-model="plan.calls.max"/>
                    </label>
                    <hr/>
                    <label for="plan{{key}}-sms">Messages
                        <input id="plan{{key}}-sms" type="number" ng-model="plan.sms"/>
                    </label>
                    <hr/>
                    <label for="plan{{key}}-url">Link
                        <input id="plan{{key}}-url" type="text" ng-model="plan.url"/>
                    </label>
                    <button type="submit">Save Plan</button>
                </form>
                <a ng-click="removePlan = !removePlan" ng-show="!removePlan">Remove</a>
                <button ng-show="removePlan" ng-click="data.methods.remove('plans', key)">Remove</button>
                <a ng-show="removePlan" ng-click="removePlan = !removePlan">Cancel</a>
            </div>
        </div>
    </div>

    <h2 ng-show="!$root.ui.admin.showUser" ng-click="$root.ui.admin.showUser = !$root.ui.admin.showUser">+ User Data</h2>
    <h2 ng-show="$root.ui.admin.showUser" ng-click="$root.ui.admin.showUser = !$root.ui.admin.showUser">- User Data</h2>

    <div ng-show="$root.ui.admin.showUser">
        <div ng-style="{width:(100 / Object.keys(api.models).length)}" ng-repeat="(key, section) in api.models">
            <h5>{{key}}</h5>
            <div ng-repeat="(key, use) in section">
                <b>{{key}}: </b>{{use}}
            </div>
        </div>
    </div>
</div>